#scroll-button {
    transition: opacity 100ms ease;
    opacity: 1; /* Start fully visible */
}

.hidden {
    opacity: 0 !important;
    pointer-events: none; /* Ensures button is not clickable when invisible */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.radio_component::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.radio_component {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}





/* Styles for the autocomplete container */
#autocompleteResults {
  position: absolute;
  top: calc(100% - 0.25rem);
  left: 1rem; /* Add space on the left */
  right: 1rem; /* Add space on the right */
  max-width: calc(100% - 2rem); /* Subtract the left and right margins from the total width */
  background-color: #fff;
  box-shadow: 
    0px 0.1px 0.2px rgba(0, 0, 0, 0.1), /* Second shadow */
    0px 0.9px 1.9px rgba(0, 0, 0, 0.11), /* Third shadow */
    0px 5.1px 10.9px rgba(0, 0, 0, 0.13); /* Fourth shadow */
  border-radius: 1rem;
  overflow: hidden;
  z-index: 1000;
  border: 1px solid #143723; /* Border color */
}

/* Styles for each autocomplete suggestion */
#autocompleteResults div {
  padding: 0.75rem 1rem; /* Top and bottom padding of 0.75rem, left and right padding of 1rem */
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

#autocompleteResults div:last-child {
  border-bottom: none;
}

#autocompleteResults div:hover {
  background-color: #ddeba4;
}





.highlight {
    background-color: yellow;
}




/* CSS for smooth fade in/out transitions */
.cms_item {
    transition: opacity 0.1s ease-in-out; /* Adjust the duration (0.3s here) as needed */
    opacity: 0; /* Start items as invisible */
    display: none; /* Ensure items take no space when not shown */
}

.cms_item.show {
    display: block; /* Items are displayed as block when shown */
    opacity: 1; /* Fully visible when the .show class is added */
}
