#scroll-button {
    transition: opacity 100ms ease;
    opacity: 1; /* Start fully visible */
}

.hidden {
    opacity: 0 !important;
    pointer-events: none; /* Ensures button is not clickable when invisible */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.radio_component::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.radio_component {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}





/* Styles for the autocomplete container */
#autocompleteResults {
  position: absolute;
  top: calc(100% - 0.1rem);
  left: 1rem; /* Add space on the left */
  right: 1rem; /* Add space on the right */
  background-color: #fff;
  box-shadow: 
    0px 0.1px 0.2px rgba(0, 0, 0, 0.1), /* Second shadow */
    0px 0.9px 1.9px rgba(0, 0, 0, 0.11), /* Third shadow */
    0px 5.1px 10.9px rgba(0, 0, 0, 0.13); /* Fourth shadow */
  border-radius: 0 0 1rem 1rem; /* Adjusted border-radius */
  overflow: hidden;
  z-index: 1000;
  border: 1px solid #143723; /* Border color */
}

/* Styles for each autocomplete suggestion */
#autocompleteResults div {
  padding: 0.75rem 1rem; /* Top and bottom padding of 0.75rem, left and right padding of 1rem */
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

#autocompleteResults div:last-child {
  border-bottom: none;
}

/* Style for autocomplete results hover state */
#autocompleteResults div:hover {
    background-color: #ddeba4;
}




/* Customize Air Datepicker */
.air-datepicker {
    width: 100% !important; /* Full width */
    height: 100% !important; /* Full height - make sure this doesn't stretch it too thin */
    background-color: transparent !important; /* Transparent background */
}

/* Text color for dates */
.air-datepicker-cell.-day- {
    color: #143723 !important; /* Custom text color for dates */
}

/* Background color on hover */
.air-datepicker-cell.-day-:hover {
    background-color: #ddeba4 !important;
}

/* Grey out and disable interaction for past days if applicable */
/* This assumes there's a class like '-disabled-' or similar for past days; adjust as necessary */
.air-datepicker-cell.-disabled- {
    color: #999 !important; /* Grey text color for past days */
    pointer-events: none; /* Disallow clicking */
}

/* Days of the week color and bold text */
.air-datepicker .air-datepicker-body--day-name {
    color: #143723 !important; /* Dark green text color */
    font-weight: bold !important; /* Bold font weight */
}

/* Change the background color of the selected date */
.air-datepicker .air-datepicker-cell.-selected- {
    background-color: #143723 !important; /* Dark green background */
}

/* Change the text color of the selected date */
.air-datepicker .air-datepicker-cell.-selected- {
    color: #f7f5ef !important; /* Off-white text color */
}

/* Change slider thumb color */
.air-datepicker input[type="range"]::-webkit-slider-thumb {
    background-color: #143723 !important; /* Dark green thumb color for WebKit browsers */
}

.air-datepicker input[type="range"]::-moz-range-thumb {
    background-color: #143723 !important; /* Dark green thumb color for Firefox */
}

.air-datepicker input[type="range"]::-ms-thumb {
    background-color: #143723 !important; /* Dark green thumb color for IE/Edge */
}

/* Change slider track color */
.air-datepicker input[type="range"]::-webkit-slider-runnable-track {
    background-color: #143723 !important; /* Dark green track color for WebKit browsers */
}

.air-datepicker input[type="range"]::-moz-range-track {
    background-color: #143723 !important; /* Dark green track color for Firefox */
}

.air-datepicker input[type="range"]::-ms-track {
    background-color: #143723 !important; /* Dark green track color for IE/Edge */
}
